Flask==3.0.2
Flask-Compress==1.4.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
matplotlib-venn==0.11.10
pandas==1.5.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
tqdm==4.66.1