html {
    font-family: "arial";
}

.nucleotide-view { grid-area: nv; }
.nucleotide-sort { grid-area: ns; }
.nucleotide-zoom { grid-area: nz; }
.structure-view { grid-area: sv; }
.feature-view-1 { grid-area: f1; }
.feature-view-2 { grid-area: f2; }
.feature-view-3 { grid-area: f3; }
.feature-legend { grid-area: fl; }
.psi-view { grid-area: pv; }

.grid-container {
    width: 1600px;
    height: 900px;
    display: grid;
    grid-template-areas:
        "pv pv f1 f1 f2 f2 f2 f2 f3 f3 f3 f3 f3 fl fl fl fl"
        "pv pv f1 f1 f2 f2 f2 f2 f3 f3 f3 f3 f3 fl fl fl fl"
        "pv pv f1 f1 f2 f2 f2 f2 f3 f3 f3 f3 f3 fl fl fl fl"
        "nv nv nv nv nv nv nv nv nv nv nv nv nv ns ns nz nz" 
        "nv nv nv nv nv nv nv nv nv nv nv nv nv ns ns nz nz" 
        "nv nv nv nv nv nv nv nv nv nv nv nv nv ns ns nz nz" 
        "nv nv nv nv nv nv nv nv nv nv nv nv nv ns ns nz nz" 
        "nv nv nv nv nv nv nv nv nv nv nv nv nv ns ns nz nz" 
    ;
    gap: 8px;
    background-color: white;
    padding: 8px;
   grid-auto-columns: minmax(0, 1fr);
   grid-auto-rows: minmax(0, 1fr);
}

.grid-container > div {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
}

form {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
}

input {
    font-size: 12px;
}

input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #0e6f07;
	background: rgba(#0e6f07, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #0e6f07;
}

input[type=submit] {
	appearance: none;
	border: .2em solid #0e6f07;
	background: hsla(0, 0%, 100%, 0);
	padding: .85em 1.5em;
	color: #0e6f07;
	border-radius: 0.85em;
	transition: 1s;
	&:hover, &:focus, &:active {
		background: #0e6f07;
		color: #fff;
	}
    margin-left: 1em;
}