html {
    font-family: "arial";
}

.expandable-view { grid-area: ev; }
.expandable-zoom { grid-area: ez; }
.structure-view { grid-area: sv; }
.hierarchical-view-1 { grid-area: hf; }
.hierarchical-view-2 { grid-area: hs; }
.hierarchical-view-3 { grid-area: ht; }
.filter-legend { grid-area: fl; }

.grid-container {
    width: 1600px;
    height: 700px;
    display: grid;
    grid-template-areas:
        'ev ev ev ev ev ev ez ez ez sv sv sv' 
        'ev ev ev ev ev ev ez ez ez sv sv sv'
        'ev ev ev ev ev ev ez ez ez sv sv sv'
        'hf hs hs hs ht ht ht ht ht fl fl fl'
        'hf hs hs hs ht ht ht ht ht fl fl fl'
        'hf hs hs hs ht ht ht ht ht fl fl fl'
    ;
    gap: 8px;
    background-color: white;
    padding: 8px;
}

.grid-container > div {
    background-color: #e4e4e4;
    text-align: center;
    border-radius: 5px;
    font-size: 24px;
}